@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');


:root{

    /* COLORES PRIMARIOS */
--orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);

/* COLORES SECUNDARIOS */

--Transparent-white: hsla(0, 0%, 100%, 0.75);
--Very-light-gray: hsl(0, 0%, 95%);


/* TAMAÑO FUENTE */
--tamaño-fuente: 15px;


/* ESTILOS FUENTES */

/* FONT WEIGHT 400*/
--big-shoulders: "Big Shoulders Display", sans-serif;
/* FONT WEIGHT 700 */
--lexend-deca: "Lexend Deca", sans-serif;

}


body {
  background-color: hsl(0, 0%, 95%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-family: 'Lexend Deca',
      sans-serif;
  font-weight: 400;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 12px;
  margin: 2rem;
  overflow: hidden;
}

.caja1{
background: var(--orange);
}

.caja2{
  background: var(--Dark-cyan);
  }

  .caja3{
    background: var(--Very-dark-cyan);
    }

.caja{
  padding: 40px;
}

.caja h2{
  font-family: var(--big-shoulders);
  text-transform: uppercase;
  color: var(--Very-light-gray);
  font-size: 30px;
}
.caja p{
  color: var(--Very-light-gray);
  line-height: 1.6;
}

.caja a{
  text-decoration: none;
  background-color: var(--Very-light-gray);
  padding: 13px 27px;
  border-radius: 26px;
  margin-top: 60px;
  display: inline-block;
  border: 2px solid var(--Very-light-gray);
  transition: all .4s ease-in-out;

}

.caja1 a{
  color: var(--orange);
}

.caja2 a{
  color: var(--Dark-cyan);
}

.caja3 a{
  color: var(--Very-dark-cyan);
}

.caja a:hover{
  color: var(--Very-light-gray);
  background: transparent;
}

/* MEDIA QUERYS */



@media only screen and (max-width: 768px){
  .wrapper{
    grid-template-columns: 1fr;
  }
} 

@media only screen and (max-width: 425px){
  .wrapper{
    margin: 2rem .5rem;
  }
} 